.button--green {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: $white;
  text-transform: uppercase;
  background-color: $green;
  border: 2px solid $green;
  border-radius: 1px;
  padding: 13px 0 13px 0;
  box-sizing: border-box;
  width: 276px;

  @media (min-width: $tablet-width) {
    width: 296px;
  }
}

.button--pink {
  border: 3px solid $pink;
  box-sizing: border-box;
  border-radius: 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: $pink;
  width: 280px;
  padding: 21px 0 21px 0;

  @media (min-width: $desktop-width) {
    width: 183px;
  }
}

.button--gray {
  opacity: 0.1;
  border: 3px solid $dark-blue;
  box-sizing: border-box;
  border-radius: 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: $dark-blue;
  width: 280px;
  padding: 21px 0 21px 0;

  @media (min-width: $desktop-width) {
    width: 183px;
  }
}
