.button--green {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: $white;
  text-transform: uppercase;
  background-color: $green;
  border: 2px solid $green;
  border-radius: 1px;
  padding: 21px 0 21px 0;
  box-sizing: border-box;
  width: 276px;
}
