.contacts-info__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.contacts-info__title {
  display: flex;
  align-content: center;
  margin: auto;
  font-weight: 300;
  font-size: 24px;
  line-height: 28.8px;
  max-width: 280px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 54px;
    max-width: 370px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;
    max-width: 462px;
  }
}

.contacts-info__connect {
  font-weight: 700;
  font-size: 18px;
  line-height: 24.51px;
}

.contacts-info__data {
  font-weight: 300;
  font-size: 24px;
  line-height: 32.68px;
  text-decoration: none;
  color: $pink;
}

.contacts-info__item {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: auto;
  margin-top: 10px;
  max-width: 280px;
  text-align: center;
  justify-content: flex-start;
}

@media (min-width: $desktop-width) {
  .contacts-info__item:nth-child(2) {
    order: 5;
  }
}
