.contacts-info__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  width: $mobile-width;
  margin: auto;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    margin-top: 22px;
  }
}

.contacts-info__title {
  display: flex;
  align-content: center;
  margin: 45px auto 15px auto;
  font-weight: 300;
  font-size: 24px;
  line-height: 28.8px;
  max-width: 280px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 54px;
    max-width: 370px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;
    max-width: 462px;
    margin-top: 60px;
    margin-bottom: 4px;
  }
}

.contacts-info__connect {
  font-weight: 700;
  font-size: 18px;
  line-height: 24.51px;
  margin-bottom: 0;
}

.contacts-info__data {
  font-weight: 300;
  font-size: 24px;
  line-height: 32.68px;
  text-decoration: none;
  color: $pink;
}

.contacts-info__data:hover {
  color: $font-color-base;
  text-decoration-line: underline;
}

.contacts-info__data:active {
  color: $font-color-base;
  opacity: 0.3;
  text-decoration-line: none;
}

.contacts-info__item {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: auto;
  max-width: 280px;
  text-align: center;
  justify-content: flex-start;
  margin-bottom: 5px;
}

@media (min-width: $tablet-width) {
  .contacts-info__connect {
    margin-bottom: 5px;
  }

  .contacts-info__item:nth-child(1) {
    margin-left: 68px;
  }

  .contacts-info__item:nth-child(3) {
    margin-top: 19px;
  }
}

@media (min-width: $desktop-width) {
  .contacts-info__item:nth-child(2) {
    order: 5;
    margin-top: 0;
  }

  .contacts-info__item:nth-child(1) {
    margin-top: 0;
    margin-left: 48px;
    margin-right: 45px;
  }

  .contacts-info__item:nth-child(3) {
    margin-top: 0;
  }

  .contacts-info__connect {
    margin-bottom: 23px;
  }
}
