@media (min-width: $desktop-width) {
  .efficiency {
    background-color: $silver;
    padding-bottom: 0;
  }
}

.efficiency__visually-hidden {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    text-align: left;
  }
}

@media (min-width: $tablet-width) {
  .efficiency {
    position: relative;
    margin-top: 45px;
    background-color: $white;
  }

  .efficiency__content-wrapper {
    display: flex;
    justify-content: space-between;
    width: 620px;
    margin: auto;
  }

  .efficiency__wrapper {
    margin-bottom: 22px;
  }

  .efficiency__image {
    width: 260px;
    background-image: url("../img/timer.svg");
    background-repeat: no-repeat;
    background-position: 0 54px;
  }

  .efficiency__title {
    max-width: 170px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin: 95px 0 0 6px;
  }

  .efficiency__text {
    max-width: 305px;
    margin: 11px 6px 10px 5px;
  }

  .efficiency__link {
    margin-left: 6px;
  }
}

.efficiency__tablet-br {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}


@media (min-width: $desktop-width) {
  .efficiency__content-wrapper {
    padding: 17px 10px 61px;
    width: 940px;
  }

  .efficiency__text {
    max-width: 534px;
    font-size: 18px;
    line-height: 30px;
    margin: 11px 35px 30px 5px;
  }

  .efficiency__title {
    line-height: 30px;
    max-width: 300px;
    margin-top: 100px;
    margin-bottom: 24px;
  }

  .efficiency__link {
    color: $pink;
    font-size: 18px;
    line-height: 30px;
    margin-left: 5px;
  }

  .efficiency__description {
    margin-left: -99px;
  }

  .efficiency__wrapper {
    margin-bottom: 49px;
  }

  .efficiency__image {
    width: 305px;
    background-size: 299px 352px;
    background-position: 0 0;
  }
}


.efficiency__link {
  color: $pink;
}

.efficiency__title {
  color: $black;
}

.efficiency__desktop-br {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}
