.features__list-wrapper {
  background-color: $gray;
}

.features__title {
  font-size: 24px;
  font-weight: 300;
  line-height: 28.8px;
}

.features__list {
  list-style: none;
}

.features__item-title {
  font-size: 18px;
  font-weight: 700;
  color: $black;
}

.features__item-text {
  font-weight: 400;
}
