.features__wrapper {
  background-color: $silver;
  background-image: url("../img/bg-triangle-white-version2.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 0 0;
  margin-bottom: -45px;
}

@media (min-width: $tablet-width) {
  .features__wrapper-container {
    display: flex;
    width: $tablet-width;
    margin: auto;
  }
}

@media (min-width: $desktop-width) {
  .features__wrapper-container {
    display: flex;
    flex-direction: column;
    width: $desktop-width;
    margin: auto;
  }
}

.features__title {
  display: flex;
  flex-direction: column;
  align-content: center;
  font-size: 24px;
  font-weight: 300;
  line-height: 28.8px;
  max-width: 280px;
  text-align: center;
  margin: auto;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 54px;
    max-width: 660px;
    margin-bottom: 28px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68.09px;
    max-width: 940px;
    margin-bottom: 51px;
  }
}

.features__title:first-child {
  margin-top: 40px;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-top: 47px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 63px;
  }
}

.features__list {
  list-style: none;
  padding: 0;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    width: 310px;
    order: 2;
    margin-left: 73px;
  }
}

.features__item {
  max-width: 280px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: auto;
}

.features__item--first {
  margin-top: 35px;
  padding-top: 60px;

  @media (min-width: $tablet-width) {
    padding-top: 14px;
    margin-top: 31px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    margin-top: 0;
  }
}

.features__item:last-child {
  max-width: 270px;
  padding-bottom: 27px;
  background-repeat: no-repeat;
  background-position: 57px 167px;
  background-size: 157px;
}

@media (min-width: $tablet-width) {
  .features__item {
    max-width: 310px;
    text-align: left;
  }

  .features__item:last-child {
    max-width: 310px;
    padding-bottom: 29px;
  }
}

@media (min-width: $desktop-width) {
  .features__item {
    text-align: center;
    max-width: 252px;
    margin-top: 0;
    margin-left: 25px;
    margin-right: 48px;
    background-color: $silver;
    padding-top: 26px;
  }

  .features__item:nth-child(2) {
    max-width: 240px;
  }

  .features__item:last-child {
    max-width: 240px;
    margin-left: 31px;
    margin-right: 20px;
    background-image: none;
  }

  .features__list {
    display: flex;
    flex-wrap: wrap;
    width: 940px;
    margin: auto;
    padding-top: 2px;
  }
}

.features__item-title {
  font-size: 18px;
  font-weight: 700;
  color: $black;
  margin-bottom: 13px;

  @media (min-width: $desktop-width) {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 21px;
  }
}

.features__item-text {
  font-weight: 400;
  margin-top: 0;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}

.features__item-text--second {
  margin-top: -1px;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    margin-bottom: 17px;
  }
}

.features__tablet-br {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.features__desktop-br {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.features__images {
  display: flex;
  width: 157px;
  margin: auto;
  margin-bottom: -20px;

  @media (min-width: $tablet-width) {
    order: 1;
    margin: 0 0 -66px 0;
    width: 237px;
    padding: 7px 0 0 20px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 28px;
    margin: auto;
    width: 940px;
    padding: 4px 0 0 9px;
  }
}

.features__iphone-smile {
  display: block;
}

.features__iphone-blackandwhite,
.features__iphone-pink {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}
