.form-photo__filter--hidden {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.form-photo__filter-range {
  appearance: none;
  width: 240px;
  height: 2px;
  background-color: $dark-blue;
  outline: none;
  margin-bottom: 34px;
}

.form-photo__filter-range::-webkit-slider-thumb {
  appearance: none;
  width: 14px;
  height: 14px;
  box-sizing: border-box;
  background-color: $white;
  border: solid 2px $pink;
  border-radius: 100%;
}

.form-photo__button {
  display: block;
}

.form-photo__button:first-child {
  margin-bottom: 12px;

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    margin-right: 20px;
  }
}

.form-photo__filters {
  display: flex;
  width: 240px;
  flex-wrap: wrap;
  margin: auto;
}

.form-photo__icon-wrapper {
  display: none;
}

.form-photo__filters-buttons {
  display: flex;
  justify-content: space-between;
  width: 240px;
}

@media (min-width: $tablet-width) {
  .form-photo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
  }

  .form-photo__icon-wrapper {
    display: block;
  }

  .form-photo__icon {
    background-color: $pink;
  }

  .form-photo__filter {
    display: flex;
    justify-content: center;
  }

  .form-photo__filters-buttons {
    display: none;
  }

  .form-photo__filters {
    flex-direction: column;
    margin-left: 20px;
    width: 260px;
  }

  .form-photo__filter-range {
    width: 202px;
    margin-bottom: 40px;
    margin-top: 7px;
  }

  .form-photo__filter-range:nth-child(1) {
    margin-top: 35px;
  }

  .form-photo__buttons {
    margin-top: 20px;
    margin-left: 20px;
  }
}

@media (min-width: $desktop-width) {
  .form-photo__filter-range {
    width: 288px;
  }

  .form-photo__buttons {
    display: flex;
    justify-content: space-between;
  }
}
