.form-feedback__list {
  list-style: none;
  padding: 0;
}

.form-feedback__name-item {
  padding-bottom: 29px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: nowrap;
  }
}

.form-feedback__label {
  display: block;
  font-weight: 400;
  line-height: 30px;
  color: $pink;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-right: 20px;
  }
}

.form-feedback__input {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  box-sizing: border-box;
  border: 2px solid $lightgray;
  border-radius: 1px;
  color: $font-color-base;
  padding: 13px 0 13px 20px;
  width: 276px;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.form-feedback__fieldset--platform,
.form-feedback__fieldset--achivments,
.form-feedback__fieldset--emotion {
  width: 320px;
}

.form-feedback__fieldset {
  border: 0 none;
  padding: 0;
  overflow-x: hidden;

  @media (min-width: $tablet-width) {
    border: 2px solid $lightgray;
    border-radius: 1px;
    width: 620px;
  }
}

.form-feedback__fieldset--emotion {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .form-feedback__fieldset--name {
    border: 0 none;
  }

  .form-feedback__name-item--contacts {
    display: flex;
    flex-direction: column;
    width: 496px;
    margin: auto;
  }

  .form-feedback__label--contacts {
    order: 2;
  }
}

@media (min-width: $desktop-width) {
  .form-feedback__list--contacts {
    display: flex;
  }

  .form-feedback__name-item--contacts {
    width: 371px;
  }
}

.form-feedback__wrapper {
  display: flex;
  justify-content: center;
}

.form-feedback__wrapper--achivments,
.form-feedback__wrapper--platform {
  background-color: $silver;

  @media (min-width: $tablet-width) {
    background-color: $white;
  }
}

@media (min-width: $tablet-width) {
  .form-feedback__wrapper--name {
    order: -3;
  }

  .form-feedback__wrapper--platform {
    order: -2;
  }

  .form-feedback__wrapper--contacts {
    order: -1;
  }
}

@media (min-width: $desktop-width) {
  .form-feedback__wrapper--platform {
    margin-left: 40px;
  }

  .form-feedback__wrapper--name {
    margin-right: 40px;
  }

  .form-feedback__wrapper {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .form-feedback__wrapper--platform,
  .form-feedback__wrapper--name {
    width: 430px;
  }

  .form-feedback__fieldset--contacts {
    margin-top: 20px;
    width: 936px;
  }

  .form-feedback__fieldset--achivments,
  .form-feedback__fieldset--emotion {
    width: 936px;
  }

  .form-feedback__list--achivments {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(2, 4fr);
  }
}

.form-feedback__achivments-item {
  padding-bottom: 69px;
}

.form-feedback__legend {
  max-width: 218px;
  text-align: center;

  @media (min-width: $tablet-width) {
    max-width: 374px;
  }
}

.form-feedback__legend-text {
  font-weight: 400;
  line-height: 18px;
  color: $pink;
  text-transform: uppercase;
}

.form-feedback__label-checkbox {
  font-weight: 40;
  font-size: 18px;
  line-height: 30px;
}

.form-feedback__legend--hidden {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.form-feedback__platform-item {
  padding-bottom: 62px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;

  @media (min-width: $desktop-width) {
    padding-bottom: 40px;
  }
}

.form-feedback__platform-item:last-child {
  padding-bottom: 54px;

  @media (min-width: $desktop-width) {
    padding-bottom: 10px;
  }
}

.form-feedback__textarea {
  width: 276px;
  height: 197px;
  box-sizing: border-box;
  resize: none;
  padding-top: 22px;
  padding-left: 20px;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    width: 496px;
    height: 189px;
  }

  @media (min-width: $desktop-width) {
    width: 816px;
    text-align: left;
  }
}

.form-feedback__asterix {
  color: $pink;
}

.form-feedback__notification {
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.form-feedback__wrapper--button {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    width: 620px;
    padding: 50px 10px 0 10px;
  }

  @media (min-width: $desktop-width) {
    width: 936px;
  }
}

.form-feedback__button {
  margin: auto;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}
