.main-nav {
  @media (min-width: $desktop-width) {
    width: 620px;
    margin: 33px 0 35px 171px;
  }
}

.main-nav__wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 320px;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    width: 620px;
  }
}

@media (max-width: 959px) {
  .main-nav--closed {
    display: none;
  }
}
