.page-title__wrapper {
  background-image: url("../img/back-mobile.png");
  background-repeat: no-repeat;
  padding: 36px 0 51px 0;
  margin-bottom: 30px;
}

.page-title__text {
  color: $white;
  line-height: 32.68px;
  max-width: 228px;
  text-align: center;
  font-weight: 300;
}
