.page-inner__title {
  font-weight: 400;
  line-height: 30px;
  max-width: 280px;
  text-align: center;
  margin-top: 43px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    max-width: 490px;
    margin-top: 90px;
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    max-width: 756px;
  }
}

.page-inner__hidden {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: inline;
  }
}

.page-inner__title--catalog {
  max-width: 250px;

  @media (min-width: $tablet-width) {
    max-width: 570px;
  }
}

.page-inner__form-feedback {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: $desktop-width) {
    flex-wrap: wrap;
    flex-direction: row;
    width: 940px;
    margin: auto;
  }
}

.page-inner__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
