.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $white;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  width: 100%;
  background-color: $bg-color-header;
  position: relative;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: center;
  }
}

.page-header__wrapper {
  height: 69px;
  width: 100%;

  @media (min-width: $tablet-width) {
    height: 110px;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 150px;
  }
}

.page-header__container {
  height: 69px;
  display: flex;
  justify-content: space-between;
  width: $mobile-width;
  margin: auto;

  @media (min-width: $tablet-width) {
    height: 110px;
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: 150px;
  }
}

@media (max-width: 959px) {
  .page-header__wrapper--closed {
    position: absolute;
    top: 0;
    box-sizing: border-box;
    max-width: 1920px;
    min-width: 320px;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    position: absolute;
    top: 0;
    box-sizing: border-box;
    max-width: 1920px;
    min-width: 320px;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
    min-height: 110px;
  }

  .page-header__wrapper {
    background-color: transparent;
  }
}

.page-header__menu {
  margin-right: 20px;
  position: relative;
  width: 50px;

  @media (min-width: $tablet-width) {
    margin-top: 25px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-header__logo {
  margin: 22px 0 0 20px;

  @media (min-width: $tablet-width) {
    margin: 27px 0 0 20px;
    width: 145px;
  }

  @media (min-width: $desktop-width) {
    margin: 28px 0 0 0;
  }
}

@media (min-width: $tablet-width) {
  .page-header__image {
    display: block;
    width: 145px;
    height: 40px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__image {
    width: 147px;
  }
}

.page-header__toggle {
  position: absolute;
  top: -2px;
  left: -10;
  z-index: 1;
  display: block;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

@media (min-width: $tablet-width) {
  .page-header__toggle {
    top: 0;
  }
}

.page-header__toggle--closed::before {
  content: "";
  position: absolute;
  top: 20;
  right: 0;
  width: 50px;
  height: 3px;
  background-color: $white;
  box-shadow: 0 10px 0 0 $white, 0 20px 0 0 $white;

  @media (min-width: $tablet-width) {
    top: 17px;
  }
}

.page-header__toggle--closed:hover::before {
  background-color: $pink;
  box-shadow:
    0 10px 0 0 $pink,
    0 20px 0 0 $pink;
}

.page-header__toggle--closed:active::before {
  background-color: fade($pink, 30%);
  box-shadow:
    0 10px 0 0 fade($pink, 30%),
    0 20px 0 0 fade($pink, 30%);
}

.page-header__toggle--opened {
  top: 7px;
  right: auto;
  left: 12px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 10px;
    width: 30px;
    height: 3px;
    background-color: $white;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    background-color: $pink;
  }

  &:active::before,
  &:active::after {
    background-color: fade($pink, 30%);
  }
}

@media (min-width: $tablet-width) {
  .page-header__toggle--opened {
    top: 4px;
  }
}

.page-header__toggle--nojs {
  display: none;
}

.page-header__logo-img {
  fill: $white;
}

.page-header__logo-img--mobile {
  display: inline;
}

.page-header__logo-img--tablet {
  display: none;
}

.page-header__logo-img--desktop {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-header__logo-img--mobile {
    display: none;
  }

  .page-header__logo-img--desktop {
    display: none;
  }

  .page-header__logo-img--tablet {
    display: inline;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo-img--mobile {
    display: none;
  }

  .page-header__logo-img--tablet {
    display: none;
  }

  .page-header__logo-img--desktop {
    display: inline;
  }
}

.page-header__logo-img:hover {
  fill: $pink;
}

.page-header__logo-img:active {
  fill: $white;
  opacity: 30%;
}
