.price {
  background-color: $gray;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-bottom: 47px;
  // background-image: url("../img/bg-triangle-white.svg");
  background-image: url("../img/bg-triangle-white-version2.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 100% 0;

  @media (min-width: $desktop-width) {
    padding-bottom: 73px;
  }
}

.price__table {
  width: 840px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px 0 20px 0;

  @media (min-width: $tablet-width) {
    position: static;
    transform: none;
    margin: auto;
    width: 622px;
  }

  @media (min-width: $desktop-width) {
    width: 942px;
  }
}

.price__toggles {
  display: flex;
  flex-wrap: wrap;
  padding-top: 425px;
  justify-content: center;
  margin: auto;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
