.reviews {
  background-color: $white;
}

.reviews__author {
  color: $black;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.reviews__quote-text {
  font-weight: 400;
  line-height: 30px;
}
