.slider-nav {
  position: relative;
  width: 940px;
  margin: auto;
}

.slider-nav__toggle {
  width: 22px;
  height: 44px;
  border: none;
  outline: none;
  background-color: transparent;
}

.slider-nav__toggle--prev {
  position: absolute;
  top: -169px;
  left: -6px;
}

.slider-nav__toggle--next {
  position: absolute;
  top: -169px;
  left: 912px;
}
