// Global

@import "global/fonts.scss";
@import "global/variables.scss";

// Blocks index

@import "blocks/page.scss";
@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/download.scss";
@import "blocks/features.scss";
@import "blocks/reviews.scss";
@import "blocks/price.scss";
@import "blocks/table-price.scss";
@import "blocks/contacts-info.scss";
@import "blocks/page-footer.scss";
@import "blocks/site-list.scss";
@import "blocks/copyright.scss";
@import "blocks/page-title.scss";
@import "blocks/page-inner.scss";
@import "blocks/form-feedback.scss";
@import "blocks/button.scss";
@import "blocks/modal-form.scss";
@import "blocks/gallery.scss";
@import "blocks/photo-editor.scss";
@import "blocks/form-photo.scss";
@import "blocks/efficiency.scss";
@import "blocks/contacts-map.scss";
@import "blocks/social.scss";
@import "blocks/page-form.scss";

//Support

@import "support/visualy-hidden.scss";
